body {
  margin: 0;
  font-family: sans-serif;
  /* background: rgba(230, 225, 225,0.35); */
}

/* ===========
  typography
=========== */
.container {
  width: 90%;
  max-width: 900px;

  margin: 0 auto;
}

.container-nav {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 710px) {
  .container-nav {
    display: flex;
    flex-direction: column;
  }
}
h1 {
  font-family: "Sofia", sans-serif;

  font-weight: 500;
  color: rgb(32, 190, 211);
  font-size: 2.5rem;
  margin: -1rem;
  text-shadow: 3px 3px 3px white;
  cursor: pointer;
  transition-duration: 0.1s;
}

/* h1{
    animation-name: heading-animation;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    
} */

@keyframes heading-animation {
  0% {
    font-size: 1.75rem;
  }
  10% {
    font-size: 1.85rem;
  }
  20% {
    font-size: 1.95rem;
  }
  30% {
    font-size: 2.05rem;
  }
  40% {
    font-size: 2.15rem;
  }
  50% {
    font-size: 2.25rem;
  }
  60% {
    font-size: 2.35rem;
  }
  70% {
    font-size: 2.45rem;
  }
  80% {
    font-size: 2.25rem;
  }
  90% {
    font-size: 2.05rem;
  }
  100% {
    font-size: 1.85rem;
  }
}
@media only screen and (max-width: 710px) {
  h1 {
    animation-duration: 0s;
    animation-iteration-count: 0;
    text-align: center;
  }
  .subtitle {
    text-align: center;
  }
}

.subtitle {
  font-weight: 700;
  color: rgb(79, 115, 109);
  font-size: 0.75rem;
  margin: 0;
}

/* ===========
  layout
=========== */

/* navigation */

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 380px) {
  #menu-icon {
    display: none;
  }
}
@media only screen and (max-width: 356px) {
  nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 0px;
  }
}

nav li {
  margin: 0 1em;
  font-family: "Sofia", sans-serif;
  font-size: 1.5rem;
}
nav a {
  text-decoration: none;
  font-weight: 700;
  color: rgb(32, 190, 211);
}

nav a:hover,
nav a:focus {
  color: rgb(135, 86, 232);
}
.current-page {
  border-bottom: 0.15em solid rgb(32, 190, 211);
  border-radius: 0.2em;
}

header::before {
  content: "";
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  height: 17%;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
}
@media only screen and (max-width: 356px) {
  header::before {
    height: 47%;
  }
}

.current-page:hover,
.current-page:focus {
  border-bottom: 0.15em solid rgb(135, 86, 232);
  border-radius: 0.2em;
}

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 1rem 2rem;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: rgb(221, 235, 232);
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-content .list-item-1 {
  animation-name: menu1;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes menu1 {
  0% {
    transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    transform: rotateY(0deg) translateY(0px);
  }
}
.dropdown:hover .dropdown-content .list-item-2 {
  animation-name: menu2;
  animation-delay: 300ms;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes menu2 {
  0% {
    transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    transform: rotateY(0deg) translateY(0px);
  }
}
.dropdown:hover .dropdown-content .list-item-3 {
  animation-name: menu3;
  animation-delay: 600ms;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes menu3 {
  0% {
    transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    transform: rotateY(0deg) translateY(0px);
  }
}

.menu-icon {
  background-color: white;
  margin: 0.3rem 3rem;
  padding: 0.15rem 0.5rem;
  cursor: pointer;
  margin-left: 3rem;
  border-radius: 0.25rem;
}
.menu-icon:hover {
  background-color: rgb(247, 238, 238);
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5rem;
}

.sidenav a {
  padding: 1rem 1rem 1rem 4rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 3rem;
  margin-left: 5rem;
}

/* hr{
    width: 90%;
    margin: 0 auto;
    height: 0.15rem;
    border-radius: 1rem;
    background-color: rgba(135, 86, 232,0.5);
  } */
.landing-page {
  display: flex;
  flex-direction: column;
}

.landing-page::before {
  content: "";
  background: url("images/gallery2.jpeg");
  position: absolute;
  height: 67%;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
}
@media only screen and (max-width: 360px) {
  .landing-page::before {
    height: 75%;
  }
}
.quote {
  font-size: 2rem;
  width: 60%;
  margin: 22px auto;
  padding: 5rem 0px;
  text-align: center;
  color: white;
}
@media only screen and (max-width: 710px) {
  .quote {
    margin-bottom: -100px;
  }
}
@media only screen and (max-width: 480px) {
  .quote {
    margin-top: -30px;
  }
}
@media only screen and (max-width: 294px) {
  .quote {
    font-size: 1.5rem;
  }
}

.galleries {
  font-family: "Baloo Bhai 2", cursive;
  color: white;
  font-size: 2.5rem;
}
.btn {
  font-size: 2rem;
  border-radius: 0.8rem;
  cursor: pointer;
  padding: 1rem 1rem;
  margin: 1rem auto;
}
@media only screen and (max-width: 514px) {
  .btn {
    font-size: 1.75rem;
  }
}
@media only screen and (max-width: 455px) {
  .btn {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 400px) {
  .btn {
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 346px) {
  .btn {
    font-size: 1rem;
  }
}

.btn:hover {
  font-size: 2.25rem;
  background-color: gainsboro;
}
.heading-ctc {
  font-size: 4rem;
  font-family: "Baloo Bhai 2", cursive;
  margin: 6rem auto;
  text-align: center;
}
@media only screen and (max-width: 440px) {
  .heading-ctc {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 300px) {
  .heading-ctc {
    font-size: 2.5rem;
  }
}

.container-ctc {
  display: flex;
  margin: 34px;
  overflow-x: scroll;
}
.card {
  border: 2px solid black;
  padding: 34px 32px;
  margin: 3px 40px;
  border-radius: 15px;
  background-color: rgba(242, 236, 228, 0.5);

  position: relative;
}
@media only screen and (max-width: 250px) {
  .card {
    padding: 15px 15px;
  }
}
@media only screen and (max-width: 710px) {
  .imagee {
    width: 300px;
  }
}
@media only screen and (max-width: 480px) {
  .imagee {
    width: 200px;
  }
}
@media only screen and (max-width: 390px) {
  .imagee {
    width: 150px;
  }
}
@media only screen and (max-width: 320px) {
  .imagee {
    width: 100px;
  }
}

.description {
  font-family: "Kaushan Script", cursive;
}
@media only screen and (max-width: 250px) {
  .description {
    font-size: 0.7rem;
  }
}
.button {
  float: right;
  border: 2px solid black;
  padding: 2px 2px;
  text-align: center;
}
.button:hover {
  cursor: pointer;
  background-color: rgb(180, 138, 99);
}
.hr {
  width: 60%;
  height: 0.4rem;
  border-radius: 0.5rem;
  color: black;
  background-color: black;
  margin-top: -60px;
}
@media only screen and (max-width: 300px) {
  .hr {
    margin-top: -10px;
  }
}
.ad-page {
  display: flex;
  flex-direction: column;
}
.ad-page::before {
  content: "";
  background: url("images/gallery5.webp");
  position: absolute;
  height: 80%;

  width: 100%;
  z-index: -1;
  opacity: 0.5;
}
@media only screen and (max-width: 480px) {
  .ad-page::before {
    height: 85%;
  }
}
@media only screen and (max-width: 474px) {
  .ad-page::before {
    height: 90%;
  }
}
@media only screen and (max-width: 455px) {
  .ad-page::before {
    height: 95%;
  }
}
@media only screen and (max-width: 413px) {
  .ad-page::before {
    height: 100%;
  }
}
@media only screen and (max-width: 284px) {
  .ad-page::before {
    height: 80%;
  }
}

.photo-quote {
  margin-bottom: 100px;
  color: black;
  font-size: 2.7rem;
}
@media only screen and (max-width: 710px) {
  .photo-quote {
    margin-bottom: -100px;
    margin-top: -15px;
  }
}
@media only screen and (max-width: 420px) {
  .photo-quote {
    font-size: 2.6rem;
    margin-bottom: 2px;
  }
}
@media only screen and (max-width: 400px) {
  .photo-quote {
    font-size: 2.35rem;
    margin-bottom: 2px;
  }
}
@media only screen and (max-width: 284px) {
  .photo-quote {
    font-size: 1.85rem;
  }
}

.photograaphy {
  font-family: "Baloo Bhai 2", cursive;
  color: black;
  font-size: 3.7rem;
}
@media only screen and (max-width: 490px) {
  .photograaphy {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 420px) {
  .photograaphy {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 340px) {
  .photograaphy {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 284px) {
  .photograaphy {
    font-size: 1.9rem;
  }
}

.footer {
  text-align: center;
  justify-content: center;
}
.quote-footer {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Baloo Bhai 2", cursive;
  background-color: whitesmoke;
}
.fa {
  padding: 10px;
  font-size: 10px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 30rem;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}
.shivani {
  font-size: 2rem;
  font-family: "Kaushan Script", cursive;
}
@media only screen and (max-width: 330px) {
  .shivani {
    font-size: 1.5rem;
  }
}
.overlay1 {
  opacity: 0;
  position: absolute;
  top: 2rem;
  left: 3rem;
}
.overlay2 {
  opacity: 0;
  position: absolute;
  left: 10rem;
  top: 18rem;
}
.right {
  background-color: rgb(108, 108, 218);
  border: hotpink;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  font-size: 16px;
  margin: 30px 0;
}
@media only screen and (max-width: 250px) {
  .right {
    font-size: 9px;
  }
}
.right:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.card:hover .imagee {
  opacity: 0.3;
}

.card:hover .overlay1 {
  opacity: 1;
}
.card:hover .overlay2 {
  opacity: 1;
}
.card:hover {
  box-shadow: 1rem 1rem 2rem 1rem #888888;
}
.hide {
  display: none;
}
@media only screen and (max-width: 356px) {
  .hide {
    display: block;
  }
}
