.dark-mode {
    background-color: #303030;
}

/* .heading-ctc-darkmode{
  color: white;
} */

.p-dark {
    color: white;
}

.zoom {
    transition: transform .3s;
}

.zoom:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border: none;
}

.container {
    padding: 40px 0;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 710px) {
    .container-nav {
        display: flex;
        flex-direction: column;
    }
}


h1 {
    font-weight: 800;
    color: rgb(32, 190, 211);
    font-size: 2.5rem;
    margin: -1rem;
    text-shadow: 3px 3px 3px white;
    cursor: pointer;
    transition-duration: 0.1s;
    position: absolute;
    left: 50px;
}


@keyframes heading-animation {
    0% {
        font-size: 1.75rem;
    }

    10% {
        font-size: 1.85rem;
    }

    20% {
        font-size: 1.95rem;
    }

    30% {
        font-size: 2.05rem;
    }

    40% {
        font-size: 2.15rem;
    }

    50% {
        font-size: 2.25rem;
    }

    60% {
        font-size: 2.35rem;
    }

    70% {
        font-size: 2.45rem;
    }

    80% {
        font-size: 2.25rem;
    }

    90% {
        font-size: 2.05rem;
    }

    100% {
        font-size: 1.85rem;
    }
}

@media only screen and (max-width: 710px) {
    h1 {
        animation-duration: 0s;
        animation-iteration-count: 0;
        text-align: center;
    }

    .subtitle {
        text-align: center;
    }
}

.subtitle {
    font-weight: 700;
    color: rgb(79, 115, 109);
    font-size: 0.75rem;
    position: absolute;
    float:left;
    left: 17rem;
    /* position: absolute; */
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    margin-top: 0;
    padding: 0;
}

@media only screen and (max-width: 428px) {
    #menu-icon {
        display: none;
    }
}

@media only screen and (max-width: 356px) {
    nav ul {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        margin-bottom: 0px;
    }
}

nav li {
    margin: 0 1em;
    font-family: "Sofia", sans-serif;
    font-size: 1.5rem;
}

nav a {
    text-decoration: none;
    font-weight: 700;
    color: rgb(32, 190, 211);
}

nav a:hover,
nav a:focus {
    color: white;
}

.current-page {
    border-bottom: 0.15em solid rgb(32, 190, 211);
    border-radius: 0.2em;
}

header::before {
    content: "";
    background-color: rgba(0, 0, 0, 1);
    position: absolute;
    height: 50%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

@media only screen and (max-width: 356px) {
    header::before {
        height: 47%;
    }
}

.current-page:hover,
.current-page:focus {
    border-bottom: 0.15em solid white;
    border-radius: 0.2em;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 1rem 2rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(221, 235, 232);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-content .list-item-1 {
    animation-name: menu1;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes menu1 {
    0% {
        transform: rotateY(-90deg) translateY(30px);
    }

    100% {
        transform: rotateY(0deg) translateY(0px);
    }
}

.dropdown:hover .dropdown-content .list-item-2 {
    animation-name: menu2;
    animation-delay: 300ms;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes menu2 {
    0% {
        transform: rotateY(-90deg) translateY(30px);
    }

    100% {
        transform: rotateY(0deg) translateY(0px);
    }
}

.dropdown:hover .dropdown-content .list-item-3 {
    animation-name: menu3;
    animation-delay: 600ms;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes menu3 {
    0% {
        transform: rotateY(-90deg) translateY(30px);
    }

    100% {
        transform: rotateY(0deg) translateY(0px);
    }
}

.menu-icon {
    background-color: white;
    /* margin: 0.3rem 3rem; */
    margin: 2rem 3rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.25rem;
    margin-top: 0;
    padding-top: 2px;
    padding-bottom: 3px;
    margin-left: 20px;
}

.menu-icon:hover {
    background-color: rgb(247, 238, 238);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5rem;
}

.sidenav a {
    padding: 1rem 1rem 1rem 4rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 3rem;
    margin-left: 5rem;
}

.landing-page {
    display: flex;
    flex-direction: column;
}

.landing-page::before {
    content: "";
    background: url("images/gallery2.jpeg");
    position: absolute;
    height: 67%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

@media only screen and (max-width: 360px) {
    .landing-page::before {
        height: 75%;
    }
}

.quote {
    font-size: 2rem;
    width: 60%;
    margin: -38px auto;
    padding: 5rem 0px;
    text-align: center;
    color: white;
    line-height: 2;
}

@media only screen and (max-width: 710px) {
    .quote {
        margin-bottom: -100px;
    }
}

@media only screen and (max-width: 480px) {
    .quote {
        margin-top: -30px;
    }
}

@media only screen and (max-width: 294px) {
    .quote {
        font-size: 1.5rem;
    }
}

.galleries {
    font-family: "Baloo Bhai 2", cursive;
    color: white;
    font-size: 2.5rem;
}

.btn {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    margin-top: 50px;
}

.btn:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.btn:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

@media only screen and (max-width: 514px) {
    .btn {
        font-size: 1.75rem;
    }
}

@media only screen and (max-width: 455px) {
    .btn {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 400px) {
    .btn {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 346px) {
    .btn {
        font-size: 1rem;
    }
}


.heading-ctc {
    font-size: 4rem;
    margin: 6rem auto;
    text-align: center;
    padding: 10px;
    margin-top: -30px;
    margin-bottom: 10px;
}

/* .heading-ctc-darkmode {
    font-size: 4rem;
    margin: 6rem auto;
    text-align: center;
    padding: 10px;
    margin-top: -30px;
    margin-bottom: 10px;
    color: white;
} */

@media only screen and (max-width: 440px) {
    .heading-ctc {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 300px) {
    .heading-ctc {
        font-size: 2.5rem;
    }
}

.container-ctc {
    display: flex;
    margin: 34px;
    overflow-x: scroll;
}

.card {
    border: 2px solid black;
    padding: 34px 32px;
    margin: 3px 40px;
    border-radius: 15px;
    background-color: rgba(242, 236, 228, 0.5);
    position: relative;
}

@media only screen and (max-width: 250px) {
    .card {
        padding: 15px 15px;
    }
}

@media only screen and (max-width: 710px) {
    .imagee {
        width: 300px;
    }
}

@media only screen and (max-width: 480px) {
    .imagee {
        width: 200px;
    }
}

@media only screen and (max-width: 390px) {
    .imagee {
        width: 150px;
    }
}

@media only screen and (max-width: 320px) {
    .imagee {
        width: 100px;
    }
}

.description {
    font-family: "Kaushan Script", cursive;
}

@media only screen and (max-width: 250px) {
    .description {
        font-size: 0.7rem;
    }
}

.button {
    float: right;
    border: 2px solid black;
    padding: 2px 2px;
    text-align: center;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(180, 138, 99);
}

.hr {
    width: 60%;
    height: 0.4rem;
    border-radius: 0.5rem;
    color: black;
    background-color: black;
    margin-top: -60px;
}

@media only screen and (max-width: 300px) {
    .hr {
        margin-top: -10px;
    }
}

.ad-page {
    display: flex;
    flex-direction: column;
}

.ad-page::before {
    content: "";
    background: url("images/gallery5.webp");
    position: absolute;
    height: 80%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

@media only screen and (max-width: 480px) {
    .ad-page::before {
        height: 85%;
    }
}

@media only screen and (max-width: 474px) {
    .ad-page::before {
        height: 90%;
    }
}

@media only screen and (max-width: 455px) {
    .ad-page::before {
        height: 95%;
    }
}

@media only screen and (max-width: 413px) {
    .ad-page::before {
        height: 100%;
    }
}

@media only screen and (max-width: 284px) {
    .ad-page::before {
        height: 80%;
    }
}

.photo-quote {
    margin-bottom: 100px;
    color: black;
    font-size: 2.7rem;
}

@media only screen and (max-width: 710px) {
    .photo-quote {
        margin-bottom: -100px;
        margin-top: -15px;
    }
}

@media only screen and (max-width: 420px) {
    .photo-quote {
        font-size: 2.6rem;
        margin-bottom: 2px;
    }
}

@media only screen and (max-width: 400px) {
    .photo-quote {
        font-size: 2.35rem;
        margin-bottom: 2px;
    }
}

@media only screen and (max-width: 284px) {
    .photo-quote {
        font-size: 1.85rem;
    }
}

.photograaphy {
    color: black;
    font-size: 3.7rem;
}

@media only screen and (max-width: 490px) {
    .photograaphy {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 420px) {
    .photograaphy {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 340px) {
    .photograaphy {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 284px) {
    .photograaphy {
        font-size: 1.9rem;
    }
}

.footer {
    text-align: center;
    justify-content: center;
}

.quote-footer {
    font-size: 1.5rem;
    font-weight: 500;
    background-color: whitesmoke;
}

.fa {
    padding: 10px;
    font-size: 10px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 30rem;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3b5998;
    color: white;
}

.fa-twitter {
    background: #55acee;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

.shivani {
    font-size: 2rem;
    /* font-family: "Kaushan Script", cursive; */
}

@media only screen and (max-width: 330px) {
    .shivani {
        font-size: 1.5rem;
    }
}

.overlay1 {
    opacity: 0;
    position: absolute;
    top: 2rem;
    left: 3rem;
}

.overlay2 {
    opacity: 0;
    position: absolute;
    top: 18rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

footer {
    background-color: #36454f
}

.right {
    background-color: rgb(108, 108, 218);
    border: hotpink;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    font-size: 16px;
    margin: 30px 0;
}

@media only screen and (max-width: 250px) {
    .right {
        font-size: 9px;
    }
}

.right:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.card:hover .imagee {
    opacity: 0.3;
}

.card:hover .overlay1 {
    opacity: 1;
}

.card:hover .overlay2 {
    opacity: 1;
}

.card:hover {
    box-shadow: 1rem 1rem 2rem 1rem #888888;
}

.hide {
    display: none;
}

@media only screen and (max-width: 356px) {
    .hide {
        display: block;
    }
}

.containerx {
    background-color: #36454f;
    text-align: center;
    font-size: large;
    margin-left: 16vw;
    margin-right: 16vw;
}

@media screen and (max-width: 428px) {
    .containerx {
        font-size: small;
    }
}

.text-white {
    text-decoration: none;
    color: white;
}

.social {
    display: flex;
    gap: 3vw;
    margin-left: 17vw;
    gap: 3vw;
    justify-content: center;
}

.rest {
    display: flex;
    justify-content: center;
}

.hide {
    display: block;
}



.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    opacity: 0;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

.camera {
    position: relative;
}

.darkMode {
    margin: 0;
    position: absolute;
    right: 45%;
    /* left: 45%; */
    border: none;
}

/* Contact us section  */

.Contactus {
    width: 85%;
    border-radius: 8px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background: white;
    margin-left: 48px;
    margin-bottom: 14px;
}

.dark-mode .Contactus {
    background: #717171;
}

.dark-mode #abc {
    color: whitesmoke;
}

.dark-mode .left-side {
    color: whitesmoke;
}

.Contactus .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Contactus .content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.content .left-side .details {
    margin: 14px;
    text-align: center;
}

.content .left-side .details i {
    font-size: 30px;
    color: #3e2093;
    margin-bottom: 10px;
}

.content .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
    font-size: 14px;
    color: #afafb6;
}


.Contactus .content .right-side {
    width: 75%;
    margin-left: 75px;
}

.content .right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
    color: #3e2093;
}

.right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.right-side .message-box {
    min-height: 110px;
}

.right-side .input-box textarea {
    padding-top: 6px;
}

.right-side .submit {
    display: inline-block;
    margin-top: 12px;
}

.right-side .submit input[type="button"] {
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #3e2093;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submit input[type="button"]:hover {
    background: #5029bc;
}

@media (max-width: 950px) {
    .Contactus {
        width: 90%;
        padding: 30px 40px 40px 35px;
    }

    .Contactus .content .right-side {
        width: 75%;
        margin-left: 55px;
    }
}

@media (max-width: 820px) {
    .Contactus {
        margin: 40px 0;
        height: 100%;
    }

    .Contactus .content {
        flex-direction: column-reverse;
    }

    .Contactus .content .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .Contactus .content .left-side::before {
        display: none;
    }

    .Contactus .content .right-side {
        width: 100%;
        margin-left: 0;
    }
}

/* Dark Toggle Mode */
.checkbox {
    opacity: 0;
    position: absolute;
}

body.dark {
    background-color: #292C35;
    transition: all 0.2s;
    filter: brightness(.8) contrast(1.2);

}

.label {
    background-color: #111;
    display: flex;
    height: 16px;
    width: 40px;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 5px;

}

.ball {
    width: 22px;
    height: 22px;
    background-color: #fff;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);

}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}